<style>
  #mdbl-overlay {
    position: fixed !important;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 88888;
  }

  #mdbl-root,
  #mdbl-loading {
    position: absolute !important;
    top: 50%;
  }

  #mdbl-preview {
    transform: translate(-100%, -50%);
    position: absolute !important;
    top: 50%;
    left: 42%;
    background-color: white;
  }

  #mdbl-preview-content {
    width: 25vw;
    height: 25vh;
  }

  #mdbl-root {
    transform: translate(0, -50%);
    background-color: white;
    height: 75%;
    overflow: auto;
    left: 44%;
    max-width: 50%;
  }

  #mdbl-loading {
    transform: translate(-5vw, -100%);
    left: 50%;
  }

  .mdbl-filter {
    max-width: 95%;
  }
</style>
<div id="mdbl-overlay">
  <h1 id="mdbl-loading" class="">Loading.</h1>
  <div id="mdbl-root" class="w3-card-4">
    <h2 style="margin-left:1vw;">MEDIA DOWNLOADER</h2>
    <div class="w3-bar" style="padding-right:1vw;padding-left:0.5vw;">
      <button class="w3-bar-item w3-button tab" id="mdbl-tab-all">All</button>
      <button class="w3-bar-item w3-button tab" id="mdbl-tab-video">Video</button>
      <button class="w3-bar-item w3-button tab" id="mdbl-tab-audio">Audio</button>
      <button class="w3-bar-item w3-button tab" id="mdbl-tab-image">Image</button>
      <button class="w3-bar-item w3-button tab w3-red" id="mdbl-tab-close">Close</button>
    </div>
    <div id="mdbl-table-all" class="w3-table mdbl-filter"></div>
    <div id="mdbl-table-video" class="w3-table mdbl-filter" style="display:none"></div>
    <div id="mdbl-table-audio" class="w3-table mdbl-filter" style="display:none"></div>
    <div id="mdbl-table-image" class="w3-table mdbl-filter" style="display:none"></div>
    <br>
  </div>
  <div id="mdbl-preview" class="w3-card-4">
    <h2 class="w3-margin-left w3-margin-right w3-center">PREVIEW</h2>
    <div id="mdbl-preview-content" class="w3-margin w3-center"></div>
  </div>
</div>
